#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea > #backgroundBox {
  position: absolute;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Image_1 {
  position: absolute;
  width: 368.9999999999999px;
  height: 763.4187500000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Image_1 {
  box-shadow: none;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_2 {
  position: absolute;
  width: 40.0px;
  min-height: 51.0px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_2 {
  box-shadow: none;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_3 {
  position: absolute;
  width: 40.0px;
  min-height: 51.0px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_3 {
  box-shadow: none;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_4 {
  position: absolute;
  width: 123.0px;
  min-height: 65.99999999999997px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_4 {
  box-shadow: none;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_5 {
  position: absolute;
  width: 263.0px;
  min-height: 66.0px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_5 {
  box-shadow: none;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea #s-Hotspot_2 {
  position: absolute;
  width: 68.00000000000023px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e5ccfea6-3903-4ddf-872a-05759d68e5ea > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
