#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 > #backgroundBox {
  position: absolute;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Screen-bg {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Screen-bg {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Screen-bg > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Screen-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Screen-bg .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Screen-bg span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Screen-bg span#rtr-s-Screen-bg_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Softkeys-bg {
  position: absolute;
  width: 100.0%;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Softkeys-bg {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Softkeys-bg > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Softkeys-bg .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Softkeys-bg .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Softkeys-bg span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Softkeys-bg span#rtr-s-Softkeys-bg_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Square {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Square {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Circle {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Circle {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Triangle {
  position: absolute;
  width: 15.0px;
  height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Triangle {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg {
  position: absolute;
  width: 100.0%;
  min-height: 76.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: drop-shadow(-3.0px -0.0px 2.0px #A0A0A0);
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg {
  box-shadow: -3.0px -0.0px 4px 0px #A0A0A0;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg > .backgroundLayer > .colorLayer {
  background-color: #E4A41F;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg .valign {
  vertical-align: top;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg span#rtr-s-Bg_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Text {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Text {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Text .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Text .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Text span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 21.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Text span#rtr-s-Text_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 21.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_status {
  position: absolute;
  width: 100.0%;
  min-height: 20.0px;
  opacity: 0.15;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_status {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_status > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_status .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_status .valign {
  vertical-align: middle;
  text-align: right;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_status span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_status span#rtr-s-Bg_status_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-hour {
  position: absolute;
  width: 46.0px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-hour {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-hour .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 8px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-hour .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-hour span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-hour span#rtr-s-hour_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-signals {
  position: absolute;
  width: 61.0px;
  height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-signals {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image {
  position: absolute;
  width: 338.0px;
  height: 480.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_2 {
  position: absolute;
  width: 100.0%;
  min-height: 56.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_2 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_2 > .backgroundLayer > .colorLayer {
  background-color: #E3A31E;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_2 .paddingLayer:first-child {
  padding-top: 38px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 73px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_2 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Bg_2 span#rtr-s-Bg_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_36 {
  position: absolute;
  width: 35.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_36 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_121 {
  position: absolute;
  width: 30.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_121 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_76 {
  position: absolute;
  width: 29.000000000000227px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_76 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_21 {
  position: absolute;
  width: 36.99999999999999px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_21 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_9 {
  position: absolute;
  width: 34.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Image_9 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 {
  position: absolute;
  width: 88.05555555555556%;
  height: 44.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 .valign {
  vertical-align: middle;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Input_5 .paddingLayer:first-child {
  padding-top: 16px;
  padding-right: 0px;
  padding-bottom: 8px;
  padding-left: 5px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_9 {
  position: absolute;
  width: 88.05555555555556%;
  min-height: 1.0000000000000568px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_9 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_9 > .backgroundLayer > .colorLayer {
  background-color: #757575;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_9 span#rtr-s-Line_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_10 {
  position: absolute;
  width: 88.05555555555556%;
  min-height: 2.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_10 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_10 > .backgroundLayer > .colorLayer {
  background-color: #6200EE;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Line_10 span#rtr-s-Line_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Rectangle_3 {
  position: absolute;
  width: 88.05555555555556%;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Rectangle_3 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Label_3 {
  position: absolute;
  width: 88.05555555555556%;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light',Arial;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Label_3 {
  box-shadow: none;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Label_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 7px;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Label_3 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #808080;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Search {
  position: absolute;
  width: 24.0px;
  height: 24.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 #s-Search {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-c3a50173-5cdb-49d8-aaf1-9b872ec2ee05 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
