#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 > #backgroundBox {
  position: absolute;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 565.9883720930233px;
  width: 100%;
  height: 100%;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Image_1 {
  position: absolute;
  width: 375.0px;
  height: 809.9883720930233px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Image_1 {
  box-shadow: none;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot {
  position: absolute;
  width: 100.0px;
  height: 114.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_1 {
  position: absolute;
  width: 374.9999999999997px;
  height: 187.90174672489093px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Image_2 {
  position: absolute;
  width: 287.49999999999955px;
  height: 383.95196506550224px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Image_2 {
  box-shadow: none;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_2 {
  position: absolute;
  width: 43.75000000000051px;
  height: 27.437036660912213px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_3 {
  position: absolute;
  width: 203.0000000000003px;
  height: 80.00000000000011px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_4 {
  position: absolute;
  width: 205.62500000000057px;
  height: 100.82314410480348px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Image_3 {
  position: absolute;
  width: 237.50000000000023px;
  height: 122.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Image_3 {
  box-shadow: none;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_5 {
  position: absolute;
  width: 43.75000000000085px;
  height: 45.92576419213958px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Panel_1 {
  width: 272.9999999999998px;
  height: 80.0px;
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Panel_1 {
  box-shadow: none;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Panel_1 .verticalalign {
  vertical-align: top;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_6 {
  position: absolute;
  width: 69.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_7 {
  position: absolute;
  width: 69.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_8 {
  position: absolute;
  width: 68.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 #s-Hotspot_9 {
  position: absolute;
  width: 60.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-07431c30-0c3f-44bd-b7aa-28e0ec175514 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
