#s-d000112b-b697-4e6d-8240-24c2e9b9b675 > #backgroundBox {
  position: absolute;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 812.0px;
  width: 100%;
  height: 100%;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Image_1 {
  position: absolute;
  width: 353.0000000000002px;
  height: 768.0000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Image_1 {
  box-shadow: none;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_4 {
  position: absolute;
  width: 141.0px;
  min-height: 66.0px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_4 {
  box-shadow: none;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_5 {
  position: absolute;
  width: 308.0000000000005px;
  min-height: 95.00000000000102px;
  opacity: 0.0;
  -webkit-transform: rotate(91.0deg);
  -moz-transform: rotate(91.0deg);
  transform: rotate(91.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_5 {
  box-shadow: none;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_6 {
  position: absolute;
  width: 308.0000000000005px;
  min-height: 95.00000000000102px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_6 {
  box-shadow: none;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_2 {
  position: absolute;
  width: 40.0px;
  min-height: 51.0px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_2 {
  box-shadow: none;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_3 {
  position: absolute;
  width: 40.0px;
  min-height: 51.0px;
  opacity: 0.0;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_3 {
  box-shadow: none;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Hotspot_2 {
  position: absolute;
  width: 64.41776054436724px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 #s-Hotspot {
  position: absolute;
  width: 75.08223945563333px;
  height: 75.99999999999989px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-d000112b-b697-4e6d-8240-24c2e9b9b675 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
