#s-10caf73b-b459-449f-af7a-dc235ef3dfbc > #backgroundBox {
  position: absolute;
}

#s-10caf73b-b459-449f-af7a-dc235ef3dfbc > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 481.9672131147541px;
  width: 100%;
  height: 100%;
}

#s-10caf73b-b459-449f-af7a-dc235ef3dfbc #s-Image_1 {
  position: absolute;
  width: 375.0px;
  height: 820.9672131147543px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-10caf73b-b459-449f-af7a-dc235ef3dfbc #s-Image_1 {
  box-shadow: none;
}

#s-10caf73b-b459-449f-af7a-dc235ef3dfbc #s-Hotspot {
  position: absolute;
  width: 244.0px;
  height: 99.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-10caf73b-b459-449f-af7a-dc235ef3dfbc > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
